@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/*ESTILIZAÇÃO GERAL PARA TODAS AS PÁGINAS*/
*{
    margin: 0;
     overflow-x: hidden; /* tira rolagem lateral */
}

.cabecalho{
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size:x-large;
    padding: 1px 40px;
    align-items: center;
    font-family: "Abril Fatface",serif;

}

.cabecalho img{
    width: 50px;
}

.rodape{
    background-color: red;
    color: white;
    width: 100%;
    padding: 10px 40px;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-family: "Abril Fatface",serif;

}

body{
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*ESTILIZAÇÃO TELA INICIAL*/
.pagina_inicial{
    background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* camada escura */
        url("./images/inicial_img.png") center/cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Abril Fatface", serif;
}

.menu{
    display: flex;
    font-family: Arial, sans-serif;
    height: 78vh;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: hidden;
}

.opcoes{
    display: flex;
    flex-direction: column;
    justify-items: right;
    align-items: center;
    background-position: center;
}

.opcoes a{
    display: block;
    width: 250px;
    border: 2px solid red;
    border-radius: 40px;
    font-size: x-large;
    color: black;
    text-decoration: none;
    background-color: #ea9790;
    font-family: "Abril Fatface", serif;
    padding: 7px;
    margin: 3.5px;
    text-align: center;
}

/*ESTILIZAÇÃO TELA LOGIN*/
.tela_login {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* camada escura */
        url("./images/login_img.png") center/cover no-repeat;
    background-blend-mode: darken;
    gap: 30px;
}

.login-box {
    background: #ea9790;
    padding: 30px;
    width: 350px;
    height: 300px;
    box-shadow: 0 10px 25px #00000033;
    padding: 30px;
    font-family: "Abril Fatface",serif;
    color: #410101;
}

.login-box input {
    width: 90%;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #410101;
    text-align:left;
    margin-bottom: 25px;
    background-color: #ea9790;
    
}

.titulo_input p {
    margin: 0 0 4px 0;
}

.botao_login {
    width: 90%;
    padding: 5px;
    background: #000000;
    color: #944040;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
}

button:hover {
    background: #eb5e41;
}

.link_conta_nova{
    color: rgb(65, 1, 1);
    font-size: 13px;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.cardapio{
    background-color: #f1c2be;
    font-family:Arial, sans-serif;
}

.categorias{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:30px;
}

.tab{
    padding:10px 25px;
    border-radius:30px;
    border:2px solid #6d2d1e;
    background:#fff;
    cursor:pointer;
    font-weight:bold;
}

.tab.active{
    background:#6d2d1e;
    color:#fff;
}

.conteudo{
    display:none;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.conteudo.active{
    display:flex;
}

.card{
    width:180px;
    background:#fff;
    border-radius:20px;
    padding:15px;
    text-align:center;
}

.card img{
    width:100%;
    border-radius:15px;
}

.card button{
    margin-top:10px;
    padding:10px;
    width:100%;
    border:none;
    border-radius:20px;
    background:#c5302b;
    color:#fff;
    cursor:pointer;
}
